/**
 *  @module         rating
 *  @version        see info.php of this module
 *  @authors        erpe
 *  @copyright      2010-2018 erpe
 *  @license        MIT
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 *
 *
 */
 
 
/* CSS Layout rating */

.rating_wrapper *{margin:0; border:0; padding:0;}
.rating_wrapper {overflow:hidden; height:16px;}
.sp_rating{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; line-height:1.7em; color:#5f5f5f; display:block;}
	.rating{float:left; padding-right:4px;}
	.base{background:url(../img/ratings.gif) 0 0 no-repeat; width:85px; height:100%; float:left; padding-right:4px; overflow:hidden;}
	.average{background:url(../img/ratings.gif) 0 -16px no-repeat; text-indent:-9999px}
	.votes{float:left; padding-right:4px;}
	.score{ background:url(../img/ratings.gif) 0 0 no-repeat; width:85px; height:100%; float:left; position:relative;}
		.score a{display:block; height:100%; float:left; text-indent:-9999px; position:absolute; overflow:hidden; line-height:1em;}
		.score1 {width:20%; z-index:55;}
		.score2 {width:40%; z-index:54;}
		.score3 {width:60%; z-index:53;}
		.score4 {width:80%; z-index:52;}
		.score5 {width:100%; z-index:51;}
		.score a:hover{ background:url(../img/ratings.gif) bottom right no-repeat;}
	.status {height:16px; width:150px; overflow:hidden; position:relative;}
		
	.score_this{ height:100%; overflow:hidden;}
		.score_this a{color:#f37800;}
.drp { height: 15px; width:85px;background: #FFFFFF url(../img/ratings.gif) 0 0 no-repeat;}

.rating h6{color:#666; font-size:11px;margin-left:100px;}